footer#colophon {
  background-color: #06668f;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    height: 100px;
  a {
    width: 120px;
    svg {
      fill: white;
      width: 120px;
      height: 100px;
    }
  }
  .text {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    align-self: center;
  }
}
  p {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
