footer#colophon {
  background-color: #06668f;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    height: 70px;
  a {
    width: 70px;
    svg {
      fill: white;
      width: 80px;
      height: 60px;
    }
  }
  .text {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    align-self: center;
  }
}
  p {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
